name: K6 load test
on: [push]
jobs:
  K6-Load-Test:
    runs-on: ubuntu-latest
    steps:
      - name: step 1 - checkout
        uses: actions/checkout@v3

      - name: step 2 - run k6 load test
        uses: grafana/k6-action@0.2.0
        with:
          filename: scripts/test.js
